---
import Layout from "../Layout.astro";
import Nyhedsbrev_footer from "../components/Nyhedsbrev_footer.astro";
import Vaerk_overview from "../components/Vaerk_overview.astro";
import Headmenu from "../components/Headmenu.astro";
import Omraede from "../components/Omraede.astro";

// Fetch-anmodningen sendes til en bestemt URL
const response = await fetch(
  "https://zxqnkjdyztxcbysqugsa.supabase.co/rest/v1/clf?order=nummer.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4cW5ramR5enR4Y2J5c3F1Z3NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3NjI4NTEsImV4cCI6MjAyNjMzODg1MX0.YxIUs_uwIdOwvu_Pn862bqcGegvtfDP99P_My1r3phU",
    },
  }
);
const data = await response.json();
---

<Layout>
  <h1>Værker</h1>
  <div class="grid_1_1">
    <div class="sticky">
      <Omraede />

      <div class="knap">
        <a href="events"><button> Events </button></a>
      </div>
    </div>
    <div class="vaerker">
      {
        data.map((vaerk) => {
          return (
            <Vaerk_overview
              titel={vaerk.titel}
              nummer={vaerk.nummer}
              img={vaerk.img}
              img={vaerk.img}
              placering={vaerk.placering}
              id={vaerk.id}
            />
          );
        })
      }
    </div>
  </div>
</Layout>

<style>
  h1 {
    text-align: center;
    font-size: 55px;
    padding: 20px;
  }
  button {
    border: 2px solid #ffffff;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    color: var(--primary);
    background-color: transparent;
    margin-top: 20px;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 80px;
    }
    .grid_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
    }

    .sticky {
      position: fixed;
    }
    .vaerker {
      grid-column: 2;
    }
    button {
      width: 100px;
      height: 35px;
      font-size: 15px;
    }
  }
</style>
